<br>
<div class="d-flex justify-content-center align-items-center">
<%= image_tag "icono_camara.jpg", alt:"log_principal", class:"w-25"%>
</div>
<h1 class="d-flex justify-content-center align-items-center">Cine/Series/Documentales</h1>
<br>